/* General*/
:root{
    --black: #141416;
    --gray:#777E91;
    --white:#FCFCFD;
    --secondary-black:#23262F;
    --third-black:#353945;
    --button:#3B71FE;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    background-color: var(--black);
} 
.dm-sans{
    font-family: 'DM Sans', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
    align-items: center;
}
.heading-primary{
    font-family: 'DM Sans', sans-serif;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--white);
}
.heading-secondary{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(--gray);
}
.hero-button:hover, .about-button:hover{
    background-color: #2f5bca;
    transition: all 0.5s;
}
/*----------------------------------------------------------------------------------*/ 
/*STYLE*/

/*HEADER*/
.header{
    justify-content:space-around;
    height:5.5rem;

}
.nav-right ul{
    list-style: none;
    padding: 0;
    gap: 1.5rem;

}  
.nav-left ul{
    list-style: none;
    gap: 2.5rem;
}
.globeIcon{
   width: 1rem;
   height:1rem;
   margin-right: 0.5rem;
}
.nav-label{
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1rem;
    text-align: center;
    color:var(--white);
    padding: 0.75rem 1rem;
    border: 2px solid var(--gray);
    border-radius: 90px;
}
.bellVector{
    width:1.5rem;
    height:1.5rem;
    
   
}
.bellStatus{
    height: 0.75rem;
    width: 0.75rem;
    transform: translate(-210%,-120%);  
}
.avatar{
    width:2.5rem;
    height:2.5rem;
}
.gray-items{
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1rem;
    text-align: center;
    color: var(--gray);
}
.arrowDownIcon{
    width:1.5rem;
    height:1.5rem;
    margin-right: 0.5rem;
}
.logo{
    width:2.25rem;
    height:2.25rem;
    margin-right: 0.5rem;
}
.logo-text{
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    color:var(--white);
}


/*HERO*/

.hero{
    height: 58.5rem;
}
.hero-frame{
    width: 80rem;
    margin:0 auto;
    height: 48.5rem;
    background-position:right 50% bottom 50% ;
    background-size: cover;
    background-image:linear-gradient(130.48deg, rgba(236, 248, 252, 0.84) 22.56%, rgba(236, 248, 252, 0) 69.73%), url(img/hero.png);
    border-radius:1.5rem;
}
.hero-title{
    position: relative;
    padding-top: 9rem;
    margin-left: 5rem;
    font-weight: 700;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.02em;
    color: var(--secondary-black);
}
.hero-description{
    position: absolute;
    position: relative;
    margin-top: 1rem;
    margin-left: 5rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    color:var(--secondary-black);
}
.hero-button{
    position: absolute;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    padding: 1rem 1.5rem;
    color: var(--white);
    background: var(--button);
    border-radius: 6rem;
    background-color: var(--button);
    border: none;
    margin-top: 1.5rem;
    margin-left: 5rem;
    cursor: pointer;
}
.mega-search-box{
    margin:-11rem auto;
    width: 70rem;
    padding: 2.5rem;
    background: linear-gradient(92.98deg, var(--secondary-black) 3.54%, rgba(35, 38, 47, 0.7) 93.38%);
    border: 1px solid var(--third-black);
    box-shadow: 0px 40px 64px -32px rgba(15, 15, 15, 0.1);
    backdrop-filter: blur(16px);
    border-radius:1.5rem;
}
.mega-search-nav{
    gap: 3rem;
    list-style: none;
}
.mega-search-nav li:first-child{
    color: var(--white);
}
.divider{
    position: relative;
    overflow: hidden;
}
.active-line {
    position: absolute;
    top: 0;
}
.active-line img{
    width: 50%;
}
.mega-search-desc{
  padding-top: 3rem;  
  justify-content: space-between;
  list-style: none;  
}
.mega-search-desc li{
    display: flex;
    align-items:flex-start;
    
}
.mega-search-desc li img{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.mega-search-desc li ul li:first-child{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color:var(--white);
}
.mega-search-desc li ul li:last-child{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
}






.adventure{
    align-items: center;
    flex-direction: column;
}
.adventure-desc{
    padding-bottom: 1rem;
    gap: 5.75rem;
    margin-top: 3rem;
}
.adventure-desc li{
    display: flex;
    align-items: center;
}
.adventure-desc li img{
    width: 10rem;
    height:10rem;
}
.adventure-desc li ul li:first-child{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    color:var(--white);
    padding-bottom: 1rem;
}
.adventure-desc li ul li:nth-child(2){
    font-family: 'Poppins';
    font-weight: 700;
    font-size:0.75rem;
    line-height: 0.75rem;
    text-transform: uppercase;
    color: #E6E8EC;
    padding: 0.5rem 0.75rem 0.37rem 0.75rem;
    background: var(--third-black);
    border-radius: 2rem;
    justify-content: center;
}
.adventure-arrow{
    margin-top: 3rem;
    gap:1rem;
    margin-bottom: 8.5rem;
}
.adventure-arrow img{
    width:1.5rem;
    height: 1.5rem;
    color: var(--gray);

}
.adventure-arrow-left{
     transform: scaleX(-1);
}
.adventure-arrow-right{
    border: 2px solid var(--third-black);
    border-radius: 2.5rem;
}

/*about*/

.about{
     flex-direction: column;
}
.about p:nth-child(2){
    margin-bottom: 8rem;
}
.container{
    gap:8rem;
    margin-bottom: 4.75rem;
}
.about-con-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:2.5rem;
}
.about-con-left ul{
    list-style: none;
}
.about-con-left ul li:first-child{
    font-weight: 500;
    font-size: 0.87rem;
    line-height: 1.25rem;
    color: var(--white);
    padding: 0.125rem 0.75rem;
    
    border-radius: 6.25rem;
    display: inline-block;
    margin-bottom: 1.5rem;
}
.about-con-left ul li:nth-child(2){
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--white);
    margin-bottom: 1rem;
}
.about-con-left ul li:nth-child(3){
    font-weight: 400;
    font-size: 0.87rem;
    line-height:1.5rem;
    color: var(--gray);
}
.about-con-left ul:first-child li:first-child{
     background: #8BC5E5;
}
.about-con-left ul:nth-child(2) li:first-child{
     background: #92A5EF;
}
.about-con-left ul:nth-child(3) li:first-child{
     background: #58C27D;
} 
.about-button{
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: var(--white);
    background-color: var(--button);
    border-radius: 5rem;
    padding: 1rem 1.5rem;
}   
.about-con-right img{
    width: 28.37rem;
    height: 43.75rem;    
    border-radius:2rem;
    margin: 1.125rem 1rem 3rem 2rem;
}
.about-con-right{
    position: relative;
}
.over-flamingo{
    padding: 1rem 3rem 1rem 1rem;
    gap: 1rem;
    left:-4rem;
    width:16rem;
    height: 5rem;
    position: absolute;
    top: calc(50% - 80px/2 - 37px);
    background: linear-gradient(92.98deg, var(--gray) 3.54%, rgba(35, 38, 47, 0.7) 93.38%);
    box-shadow: 0px 3.5rem 4rem -2rem rgba(15, 15, 15, 0.1);
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

.over-flamingo ul{
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
}
.over-flamingo ul li:first-child img{
    width: 3rem;
    height:3rem;
    margin: 0;
}
.over-flamingo ul li:nth-child(2) ul li:first-child{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: var(--white);
}
.over-flamingo ul li:nth-child(2) ul img{
    width: 0.75rem;
    height: 0.75rem;
    margin:0 ;
}
.over-flamingo ul li:nth-child(2) ul li:nth-child(2){
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: var(--white);
}    

.about-arrow{
    position: absolute;
    top:3rem;
    right:2.5rem;
}
.about-arrow img{
    width:1.5rem;
    height: 1.5rem;
    margin: 0;
}
.about-arrow-left{
     transform: scaleX(-1);
}
.about-arrow-right{
    border: 2px solid var(--white);
    border-radius: 2.5rem;
}
.how-it-work{
    flex-direction: column;
    align-items: center;
    
}
.how-it-work ul{
    list-style: none;
}
.how-it-work p:nth-child(2){
    margin-bottom: 4rem;
}
.how-work-container{
    position: relative;
    justify-content: center;
    gap: 8rem;
}
.dash-line{
    top: 4rem;
    position: absolute;
    height: 8.5rem;
    width: 52.25rem;
    z-index: -1;
}   
.how-work-container ul img{
    width: 16rem;
    height:16rem;
}
.how-work-container ul li:nth-child(2){
    font-family: 'Poppins' , sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 1rem;
}
.how-work-container ul li:nth-child(3){
    font-family: 'Poppins' , sans-serif;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.5rem;
    text-align: center;   
    color:var(--gray);
    margin-bottom: 8.5rem;
}

/*..live anywhere..*/

.live-anywhere p:nth-child(2){
    margin-bottom: 4rem;
}
.live-any-con{
    gap:2rem;
    justify-content: center;
}
.live-any-con ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.live-any-con li:first-child img{
      width: 22rem;
      height: 30rem;
      margin-bottom: 1.5rem;
}
.live-any-con li:nth-child(2){
    font-family: 'Poppins';
    font-weight: 500;
    font-size:1rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 1rem;
}
.live-any-con li:nth-child(3){
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--gray);
    margin-bottom: 4rem;
}
.load-more{
    justify-content: center;
}
.load-more button{
    display: flex;
    gap: 0.8rem;
    padding:0.75rem 1rem;
    border: 2px solid var(--gray);
    border-radius: 5.6rem;
    background: none;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1rem;
    color: var(--white);
    align-items: center;
    margin-bottom: 3.5rem;
}
.load-more img{
    width: 0.8rem;
    height: 0.8rem;
}
.product-cards{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width:70rem;
    
    justify-content: center;
}

.product-card-container{
    justify-content: space-between;
    margin-bottom: 3.5rem;
}
.nav-money{
    gap:2.5rem;
}
.pro-card-nav-left img{
       width: 1rem;
       height:1rem;      
}
.nav-money li{
    display: flex;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1rem;
    color: var(--gray);
    gap: 0.5rem;
}
.nav-money li:first-child{
    color:var(--secondary-black);
    background: #E6E8EC;
    border-radius: 6.25rem;
    padding: 6px 12px;
}
.pro-card-nav-right{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.87rem;
    line-height:1.5rem;
    display: flex;
    align-items: center;
    color: var(--white);
    gap:1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 2px solid #353945;
    border-radius: 0.75rem;

}
.pro-card-nav-right img{
    width: 2rem;
    height: 2rem;
    border: 2px solid #353945;
    border-radius: 6.25rem;  
}
.product-card {
     display: flex;
     flex-direction: column;
     background: var(--secondary-black);
     border-radius: 0px 0px 1rem 1rem;
}
.product-card div:first-child img{
    width: 16rem;
    height: 14.25rem;
}
.card-desc{
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    
}
.card-desc ul{
    list-style: none;
}
.card-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    margin-bottom: 0.5rem;


}
.card-text li:first-child p:first-child{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--white);
}
.card-text li:first-child p:nth-child(2){
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #E6E8EC;
}
.card-text li:nth-child(2){
    padding: 8px 8px 6px;
    border: 2px solid #58C27D;
    border-radius: 0.25rem;
}
.card-text li:nth-child(2) p:first-child{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--gray);
    text-decoration: line-through;
    margin-bottom: 0.5rem;
}
.card-text li:nth-child(2) p:nth-child(2){
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    color: #58C27D;
}
.card-desc ul li:nth-child(2) img{
    width: 13.5rem;
    height:1px;
}
.card-desc ul li:nth-child(3) ul{
    justify-content: space-between;
    margin-top: 1rem;
    list-style: none;
    gap:3rem;
}
.card-desc ul li:nth-child(3) img{
    width: 0.75rem;
    height: 0.75rem;
}
.card-desc ul li:nth-child(3) ul li:first-child{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: var(--gray);
}
.card-desc ul li:nth-child(3) ul li:nth-child(2){
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: var(--white);
}
.product-card-main{
    flex-wrap: wrap;
    gap: 2rem;
}